In [2]:
from mlxtend.frequent_patterns import apriori,association_rules

In [4]:
import pandas as pd

In [5]:
whiskey=pd.read_csv("whiskey.csv")

In [6]:
store_data=pd.read_csv("Storedata.csv")

In [7]:
whiskey.head()

   Singleton  Knockando  White Horse      ...       Johnnie Walker Black Label  Johnnie Walker Red Label  Chivas Regal
0          1          0            0      ...                                0                         0             0
1          0          1            0      ...                                0                         0             0
2          0          0            1      ...                                0                         0             0
3          0          0            0      ...                                0                         0             0
4          0          0            0      ...                                0                         0             0

[5 rows x 21 columns]

In [8]:
whiskey.shape

(484, 21)

In [9]:
store_data.head()

  CASH_MEMO BRND         PRODUCT        CARDNO        Date
0  T65/6416  RAG  Lades Footwear  5.000750e+15  05-12-2004
1  T65/6416  RAG  Lades Footwear  5.000750e+15  05-12-2004
2  T65/6416  MON  Lades T-Shirts  5.000750e+15  05-12-2004
3  T65/6627  PAN  PANALOON BOXER  5.007940e+15  06-12-2004
4  T65/8778  AJI   AJIE T-SHIRTS  5.007480e+15  27-12-2004

In [10]:
store_data.shape

(37422, 5)

In [12]:
aa=apriori(whiskey,min_support=0.1,use_colnames=True)

In [16]:
rules=association_rules(aa,min_threshold=0.6)

In [18]:
rules.shape

(12, 9)

In [19]:
# Hence 12 Rules are extracted

In [20]:
rules

                                          antecedents                   consequents     ...      leverage  conviction
0                                      (Pinch (Haig))                (Chivas Regal)     ...      0.034206    1.788371
1                                        (Cutty Sark)                (Chivas Regal)     ...      0.038185    1.355412
2                        (Johnnie Walker Black Label)                (Chivas Regal)     ...      0.048588    1.356311
3                          (Chivas Regal, Cutty Sark)    (Johnnie Walker Red Label)     ...      0.042236    1.601240
4              (Johnnie Walker Red Label, Cutty Sark)                (Chivas Regal)     ...      0.043175    2.899699
5                   (Johnnie Walker Black Label, J&B)                (Chivas Regal)     ...      0.032140    1.707081
6   (Johnnie Walker Black Label, Dewar's White Label)    (Johnnie Walker Red Label)     ...      0.044464    1.694215
7     (Johnnie Walker Red Label, Dewar's White Label)  (Johnnie Walker Black Label)     ...      0.044464    1.694215
8                 (Chivas Regal, Dewar's White Label)  (Johnnie Walker Black Label)     ...      0.047948    1.627206
9   (Johnnie Walker Black Label, Dewar's White Label)                (Chivas Regal)     ...      0.035508    1.687438
10    (Johnnie Walker Red Label, Dewar's White Label)                (Chivas Regal)     ...      0.027244    1.454688
11  (Johnnie Walker Black Label, Johnnie Walker Re...                (Chivas Regal)     ...      0.038817    1.695822

[12 rows x 9 columns]

In [24]:
rr=rules.groupby("lift",axis=0).size()

In [25]:
rr

lift
1.277838    1
1.278357    1
1.331188    1
1.431655    1
1.434760    1
1.438881    1
1.467094    1
1.668966    1
1.686720    1
1.694166    1
1.730025    2
dtype: int64

In [26]:
rules.sort_values("lift",ascending=False)

                                          antecedents                   consequents     ...      leverage  conviction
6   (Johnnie Walker Black Label, Dewar's White Label)    (Johnnie Walker Red Label)     ...      0.044464    1.694215
7     (Johnnie Walker Red Label, Dewar's White Label)  (Johnnie Walker Black Label)     ...      0.044464    1.694215
4              (Johnnie Walker Red Label, Cutty Sark)                (Chivas Regal)     ...      0.043175    2.899699
8                 (Chivas Regal, Dewar's White Label)  (Johnnie Walker Black Label)     ...      0.047948    1.627206
3                          (Chivas Regal, Cutty Sark)    (Johnnie Walker Red Label)     ...      0.042236    1.601240
0                                      (Pinch (Haig))                (Chivas Regal)     ...      0.034206    1.788371
5                   (Johnnie Walker Black Label, J&B)                (Chivas Regal)     ...      0.032140    1.707081
11  (Johnnie Walker Black Label, Johnnie Walker Re...                (Chivas Regal)     ...      0.038817    1.695822
9   (Johnnie Walker Black Label, Dewar's White Label)                (Chivas Regal)     ...      0.035508    1.687438
10    (Johnnie Walker Red Label, Dewar's White Label)                (Chivas Regal)     ...      0.027244    1.454688
2                        (Johnnie Walker Black Label)                (Chivas Regal)     ...      0.048588    1.356311
1                                        (Cutty Sark)                (Chivas Regal)     ...      0.038185    1.355412

[12 rows x 9 columns]

In [27]:
store_data['cnt']=1

In [28]:
store_data.groupby(["CASH_MEMO","PRODUCT"])["cnt"].sum()

CASH_MEMO  PRODUCT
T10/22654  HH  Plasticware    1
           Men Casual Trou    1
           Men Ethnic Wear    1
           SOCS               3
T10/22676  Men Suits/Blaze    1
           PANALOON TROUSE    1
T10/22681  Lades Ethnic Ap    1
           Men Casual Shir    1
T10/22698  AKKITI BOTTOM W    1
           ANNBELLE BLOUSE    1
           MIXN MATCH         1
T10/22702  Gif Articles       1
           Staionery          2
           Toy                1
T10/22710  BAR BABY GARMEN    1
           BAR BABY SETS      1
           JOH MILLER SHIR    1
           LOMARD SHIRTS      1
           Men T-shirts       2
T10/22718  BAR JEANS LADIE    1
T10/22719  LADES WINTERWEA    1
T10/22731  Staionery          1
T10/22744  Gif Articles       2
           HH  Plasticware    1
           Staionery          1
T10/22801  Toy                2
T10/22807  BAR JEANS LADIE    1
T10/22810  AKKITI TOP WEAR    1
           BAR JEANS LADIE    2
           HH  Plasticware    1
                             ..
T9/31672   BAR CAPS/HANKIE    1
T9/31675   Gif Articles       1
T9/31676   Infnt Accessori    1
           Infnt Apparels     2
           Toy                1
T9/31682   ANNBELLE BLOUSE    1
           BAR BABY GARMEN    1
           Infnt Accessori    1
           Infnt Apparels     3
           LADES WINTERWEA    1
T9/31683   HNYT-SHIRTS        1
           Lades T-Shirts     1
T9/31684   LOMARD SHIRTS      1
           Men Casual Shir    4
T9/31687   JOH MILLER SHIR    1
           Men Casual Shir    2
           Men Undergarmen    1
           UMMMENS T-SHIRT    1
T9/31690   ANNBELLE BLOUSE    1
           ANNBELLE TROUSE    1
T9/31711   ANNBELLE BLOUSE    1
           ANNBELLE TROUSE    1
           BAR KIDS JEANS     1
           BAR KIDS WINTER    1
           Kid Apparels       1
           LADES WINTERWEA    1
           MIXN MATCH         1
           Men Undergarmen    1
           NR UTER WEAR       1
           SOCS               2
Name: cnt, Length: 25224, dtype: int64

In [30]:
store_data_1=store_data.groupby(["CASH_MEMO","PRODUCT"])["cnt"].sum().unstack()

In [31]:
def make_boolean(x):
    if x>0:
        return 1
    else:
        return 0

In [33]:
store_data_final=store_data_1.applymap(make_boolean)

In [34]:
bb=apriori(store_data_final,min_support=0.001)

In [35]:
rules_store=association_rules(bb,min_threshold=0.8)

In [36]:
rules_store

  antecedents consequents  antecedent support     ...           lift  leverage  conviction
0     (9, 59)        (60)            0.002754     ...      16.712232  0.002209    6.452949
1    (11, 59)        (60)            0.002349     ...      18.242365  0.002067   13.759964
2    (51, 54)        (47)            0.002025     ...       5.111387  0.001303    4.217434
3    (49, 50)        (51)            0.001458     ...       7.699601  0.001057    5.350616

[4 rows x 9 columns]